@import "tailwindcss";

@theme {
  --color-secondary-default: oklch(0.984 0.003 247.858);
  --color-secondary-hover: oklch(0.968 0.007 247.896);
  --color-secondary-border: oklch(0.869 0.022 252.894);
  --color-secondary-text: oklch(0.869 0.022 252.894);
  --color-secondary-dark: oklch(0.869 0.022 252.894);
  --color-secondary-dark-hover: oklch(0.869 0.022 252.894);
}
